body {
    background-image: linear-gradient(to bottom, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    background-attachment: fixed;
}

#fungus {
    position: absolute;
    top: 50%;
    left: 50%;
}