#carousel {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.carousel-item img:active {
    border: 5px solid black;
}

#buttons {
    display: flex;
    justify-content: center;
}

#buttons h2 {
    width: 350px;
    text-align: center;
    color: blueviolet;
}

#buttons button {
    width: 100px;
    height: 30px;
    margin: 20px;
}

#song-list {
    margin: 0px auto;
    width: 300px;
}

.song-list-item {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}