@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

body {
    margin: 0;
}

.music-box {
    display: flex;
    justify-content: center;
}

.music-div {
    display: flex;
    flex-direction: column;
}

.music-div audio {
    width: 250px;
}

.music-div img {
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.now-playing-box {
    display: flex;
    justify-content: center;
}

.now-playing {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: background-pan 10s linear infinite;
    background: linear-gradient(to right, green, lawngreen, green);
    background-size: 200%;
}

.now-playing span {
    color: white;
    font-size: 40px;
    margin: 0;
}

.song-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.song-list {
    width: 300px;
}

.song-item {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}