body {
    font-family: sans-serif;
    margin: 0;
}

header {
    height: 50px;
    background-color: #0090e3;
}

.form-txt {
    padding-top: 20px;
    padding-left: 100px;
}

.form-txt h2 {
    margin: 0;
    color: #0d54ae;
}

.form-txt p {
    margin: 0;
    color: #1895e9;
    font-size: large;
}

#land-nederland {
    color: gray;
}

#land-belgie {
    color: #1895e9;
}

footer {
    background-color: #0090e3;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

#footer-left {
    float: left;
}

#call-div {
    display: flex;
}

#call-icon img {
    padding-top: 30px;
    padding-right: 10px;
    width: 40px;
}

#call-text {
    padding-top: 30px;
}

#call-text * {
    margin: 0;
}

#footer-right {
    float: right;
}

#service-text {
    padding-top: 30px;
}

#service-text * {
    margin: 0;
}

#footer-right ul {
    list-style-image: url(/module-2/week-3/workshop-2/assets/images/checkmark.png);
    padding-left: 20px;
}

#footer-right ul li {
    padding-bottom: 10px;
}

#icon-bar {
    clear: both;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center
}

#icon-bar img {
    height: 40px;
    width: auto;
    padding: 10px;
}

.orange-txt {
    color: #fe6700;
}