@counter-style pointer {
    system: cyclic;
    symbols: ">";
    suffix: " ";
}

body {
    background-image: url("20221030_124725.jpg");
    background-size: 100px;
    font-family: sans-serif;
    margin: 0
}

#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #fe6700;
    box-shadow: 0px 5px #79addc;
}

#header-language {
    margin: 10px;
    margin-left: 40px;
}

#header-language select {
    border: 3px solid #000000;
}

#header-links {
    margin: 20px;
}

#header-links a {
    background-color: #fe6700;
    color: #ffffff;
    border: 2px solid #000000;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 2px #000000;
    font-family: "Rubik";
}

#navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #fe6700;
    box-shadow: 0px 5px #79addc;
}

#navbar-title {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#title a {
    font-size: 36px;
    color: #fe6700;
    text-decoration: none;
    font-family: "Rubik";
    padding-right: 5px;
    border-bottom: 5px solid #fe6700;
    border-right: 5px solid #fe6700;
    box-shadow: 5px 5px #79addc;
}

#navbar-nav {
    margin: 30px;
    margin-top: 40px;
}

#navbar-nav a {
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    font-family: "Rubik";
}

#nav-selected {
    background-color: #fe6700;
    color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 2px 2px #000000;
}

#navbar-buttons {
    margin: 30px;
    margin-top: 40px;
}

#navbar-buttons a {
    background-color: #fe6700;
    color: #ffffff;
    border: 2px solid #000000;
    text-decoration: none;
    padding: 5px;
    box-shadow: 2px 2px #000000;
    font-family: "Rubik";
}

#content {
    padding-top: 40px;
}

#sidebar {
    padding: 50px;
    float: left;
}

.sidebar-box {
    max-width: 350px;
    margin: 20px;
    border: 2px solid #79addc;
    border-top: 10px solid #fe6700;
    width: 20vw;
    padding-bottom: 20px;
}

.sidebar-box.a {
    padding-bottom: 0px;
}

.sidebar-box h3 {
    margin: 20px;
    border-bottom: 3px solid #000000;
}

.sidebar-box p {
    margin-left: 20px;
}

.sidebar-box ul {
    list-style-type: pointer;
}

.sidebar-box ul a {
    color: #000000;
    text-decoration: none;
}

#sidebar-selected {
    color: #fe6700;
    font-weight: bold;
}

#price-slider {
    margin: 20px;
    display: flex;
    margin-bottom: 0;
}

#price-slider-left {
    height: 25px;
    width: 25px;
    border: 2px solid #000000;
    background-color: #ffffff;
}

#price-slider-right {
    height: 25px;
    width: 25px;
    border: 2px solid #000000;
    background-color: #ffffff;
}

#price-slider-middle {
    margin-top: 7.5px;
    width: 90%;
    height: 6px;
    background-color: gray;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
}

#price-slider-tag {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

#recent-product {
    display: flex;
}

#recent-product:hover {
    cursor: pointer;
}

#recent-product img {
    height: 100px;
}

#recent-product-icon {
    border: 3px solid #fe6700;
    border-radius: 35%;
    height: 70px;
    width: 70px;
    margin: 10px;
}

#recent-product-icon img {
    margin: 10px;
    height: 50px;
}

#products {
    width: 70%;
    float: right;
}

#products-top p {
    margin-left: 5px;
}

#products-top-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #fe6700;    
    box-shadow: 0px 5px #79addc;
}

#products-top-top h2 {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#products-top-top select {
    border: 3px solid #000000;
    margin: 20px;
    margin-bottom: 5px;
}

#products-top p {
    margin-left: 5px;
}

#products-middle {
    display: flex;
    flex-wrap: wrap;
}

.product {
    margin: 30px;
    width: 25%;
    box-shadow: 0 4px 8px 0 #fe670080, 0 6px 20px 0 #0000004d;
}

.product:hover {
    box-shadow: 0 4px 12px 0 #fe6700, 0 6px 20px 0 #0000004d;
    cursor: pointer;
}

.product a {
    text-decoration: none;
    color: #000000;
}

.product a:hover {
    color: #fe6700;
}

.product-img {
    margin: 3px;
}

.product-img img {
    width: 80%;
}

.product-img.a img {
    transform: rotate(40deg);
}

.product-img.b img {
    transform: rotate(180deg);
    padding-left: 20px;
}

.product-img.c img {
    transform: rotate(300deg);
}

.product-img.d img {
    transform: scale(1.3,0.5);
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.product-text {
    margin-left: 10px;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #fe6700;
}

.product-icon {
    border: 3px solid #fe6700;
    border-radius: 20px;
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-top: 30px;
}

.product-icon:hover {
    cursor: pointer;
}

.product-icon img {
    margin: 10px;
    height: 30px;
}

#products-bottom {
    border-top: 5px solid #79addc;
    box-shadow: 0px -5px #fe6700;
}

#products-bottom p {
    margin-left: 5px;
}

#footer {
    background-color: #dcdcdc;
    clear: both;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

#footer h2 {
    text-transform: uppercase;
    color: #fe6700;
    font-family: "Rubik";
}

#footer a {
    color: #000000;
    text-decoration: none;
}

#footer ul {
    padding-left: 20px;
}

#footer-payment img {
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 10px;
    background-color: #fff;
}

#credit {
    color: #fe6700;
}

#credit p {
    margin: 10px;
}

.very-bold {
    font-weight: 900;
}