#sign {
    background-color: black;
    border: 5px solid black;
    display: inline-block;
    height: 340px;
}

#left {
    background-color: darkblue;
    height: 340px;
    width: 140px;
    display: inline-block;
}

#left-square {
    background-color: white;
    height: 106px;
    width: 106px;
    margin-top: 30px;
    margin-left: 15px;
}

#left-tinier-square {
    background-color: darkblue;
    height: 25px;
    width: 25px;
}

#middle {
    background-color: black;
    width: 590px;
    height: 340px;
    display: inline-block;
}

#middle-square {
    background-color: white;
    width: 500px;
    height: 150px;
    margin-left: 45px;
}

#middle-bar-1 {
    background-color: white;
    width: 500px;
    height: 50px;
    margin-top: 30px;
    margin-left: 45px;
}

#middle-bar-2 {
    background-color: darkblue;
    width: 500px;
    height: 35px;
    margin-left: 45px;
}

#right {
    background-color: antiquewhite;
    width: 245px;
    height: 340px;
    display: inline-block;
}

#right-clock {
    background-color: white;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    border: 5px solid black;
    margin: 20px;
}